<div class="col-10 mx-auto">
  <div class="d-flex">
    <h2>いいね一覧</h2>
    <span class="ml-5 mt-3"><b>(全<%= @favorite_posts.count %>件)</b></span>
  </div>
  <%= render 'public/shared/post_index', posts: @favorites %>
  <%= paginate @favorites %>
</div>