<div class="container">
  <div class="d-flex">
    <h2> <i class="fa-sharp fa-solid fa-tag"></i><%= @tag.tag_name %> 一覧</h2>
    <span class="ml-3 mt-2">(全<%= @tag.posts.count %>件)</span>
  </div>
  <%= render 'public/shared/post_index', posts: @posts %>
  <%= paginate @page %>
</div>
