<div class='container px-5 px-sm-0'>
  <div class="col-10 mx-auto">
    <h4 style="display:inline"><b>"<%= @word %>"検索結果</b></h4> 
    <h6 style="display:inline;">(全<%= @posts.count %>件)</h6>
      <% if @posts.empty? %>
        <div class="text-center">
          <p>該当する投稿はありません</p>
        </div>
      <% end %>
      <%= render 'public/shared/post_index', posts: @pages %>
      <%= paginate @pages %>
  </div>
</div>