<div class="container">
  <div>
    <div class="top_image mx-auto my-3 w-75 text-center">
      <h1 class="shadow_text pt-2">｢Aquariumate｣へようこそ!!</h1>
      <p class="shadow_text top_text"><b>Aquariumateでは</b></p>
      <p class="shadow_text top_text"><b>訪れた水族館の感想や水族館で撮影した写真をシェアすることができます</b></p>
    </div>
    <div class="btn-wrapper col-xs-10 col-sm-6 mx-auto">
      <!--ログイン時はボタンを-->
      <% unless end_user_signed_in? %>
      <div>
        <%= link_to 'ゲストログイン', end_users_guest_sign_in_path, class: "btn btn-primary btn-sm btn-block mb-3", method: :post %>
        <%= link_to 'ログイン',new_end_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
        <%= link_to '新規登録',new_end_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
